/**===========================VARIABLES GLOBALES*/
:root {
  --white: #ffffff;
  --dark: #000000;
  --black: #575757;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --hospital-greenB: #76d191;
  --background-colorMain: #6e9aa4;
  --sm: 1.4rem;
  --md: 1.6rem;
  --lg: 1.8rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: var(--background-colorMain);
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem;
  border-bottom: 1px solid var(--black);
}

/**=====================================NAVBAR */
.menu {
  display: none;
  cursor: pointer;
}

.logo {
  width: 10rem;
}

.nbLeft ul,
.nbRight ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 6rem;
}

.nbLeft {
  display: flex;
}

.nbLeft ul {
  margin-left: 1.2rem;
}

.nbLeft ul li a,
.nbRight ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 12px;
}

.nbLeft ul li a:hover,
.nbRight ul li a:hover {
  border: 1px solid var var(--hospital-green);
  color: var(--hospital-green);
  border: 1px solid var(--white);
}

.nbRight__email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin: 1.2rem;
  cursor: pointer;
  user-select: none;
}

.nbShoppingCart {
  position: relative;
  cursor: pointer;
}

.nbShoppingCart div {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--hospital-greenB);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**=====================DROP-DOWN-MENU-SIGN-UP (COMPONENTE 2)*/
/* Contenedor padre */
.desktopMenu {
  position: absolute;
  top: 60px;
  right: 65px;
  display: block;

  width: 15rem;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 0.9rem;
  /* padding: 0 20px 0 0; */
  background-color: var(--text-input-field);
}

/* Lista hija y padre que contiene 3 listas*/
.desktopMenu ul {
  list-style: none;
  padding: 0 10px;
  /* margin: 0; */
  font-size: var(--sm);
}

.desktopMenu ul li:nth-child(1),
.desktopMenu ul li:nth-child(2) {
  font-weight: bold;
}

.desktopMenu ul li:last-child {
  padding-top: 2rem;
  border-top: 1px solid var(--very-light-pink);
}
.desktopMenu ul li:last-child a:hover {
  border-bottom: 1px solid var(--hospital-greenB);
}

.desktopMenu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}

/* Todos los enlaces dentro de las listas */
.desktopMenu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 2rem;
  display: inline-block;
}

/**======================DROPDOWN MENU MOBILE (COMPONENTE 3) */
.mobileMenu {
  position: absolute;
  top: 60px;
  left: 0;

  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* display: block; */
  height: 80vh;
  width: 100%;
}

.mobileMenu a {
  text-decoration: none;
  color: var(--dark);
  font-weight: bold;
  margin-bottom: 2.4rem;
  font-size: var(--md);
}

.mobileMenu ul {
  margin: 2.4rem 0 0 0.5rem;
  list-style: none;
}

.mobileMenu ul li {
  margin-bottom: 2.4rem;
}

.mobileMenu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobileMenu .email {
  font-size: var(--sm);
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.mobileMenu .signOut {
  color: var(--hospital-greenB);
  font-size: var(--sm);
}

.mobileMenu ul:nth-child(3) li:nth-child(1) {
  margin-bottom: 0.8rem;
}

/**=====================ASIDE INFO DE LAS CARDS (COMPONENTE 04)*/
.product-detail {
  width: 36rem;
  padding: 2.4rem;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}

.title-container {
  display: flex;
}

.title-container img {
  transform: rotate(180deg);
  margin-right: 1.4rem;
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.6rem;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}

.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart figure {
  margin: 0;
}

.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

/**===================HOME-PAGE (componente 05)*/
/* Card padre */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 1.5rem;
  place-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Cards hijos */
.product-card {
  width: 100%;
}

/* Imagen de la card */
.product-card img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  object-fit: cover;
}

/* contenedor hijo ~padre~ de parrafos e img de carrito  */
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

/* Parrafo 1 */
.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 0.4rem;
}

/* Parrafo 2 */
.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}

/* Contenedor de la imagen */
.product-info figure {
  margin: 0 1rem 0 0;
}

.product-info figure img {
  width: 3.5rem;
  height: 3.5rem;
}

/**===================PRODUCTS-DETAILS (COMPONENTE 6)*/
.productDetail-secondary {
  width: 36rem;
  padding-bottom: 2.4rem;
  position: absolute;
  right: 0;
  margin: 1rem;
}

.productDetail__close-secondary {
  background: var(--white);
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
  z-index: 2;
  padding: 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productDetail__close-secondary:hover {
  cursor: pointer;
}

.productDetail-secondary > img:nth-child(2) {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  border-radius: 0 0 2rem 2rem;
}

.productInfo-secondary {
  margin: 2.4rem 2.4rem 0 2.4rem;
}

.productInfo-secondary p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 0.4rem;
}

.productInfo-secondary p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 3.6rem;
}

.productInfo-secondary p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 36px;
}

.primary-button-secondary {
  background-color: var(--hospital-green);
  border-radius: 1.4rem;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 5rem;
}

.addToCartBtn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  margin-top: 0.5rem;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: var(--very-light-pink);
  border-radius: 50%;
  display: inline-block;
}

.dots span:nth-child(1) {
  background-color: var(--hospital-green);
}

/*!CLase de apoyo para aparecer y desaparecer el menu */
.active {
  display: none;
}
/* .inactive {
  display: none;
} */
/* Media querie del NavBar */
@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .nbLeft ul {
    display: none;
  }

  .nbRight__email {
    display: none;
  }
  .desktopMenu {
    display: none;
  }
  .product-detail {
    width: 100%;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 160px);
  }

  .product-card {
    width: 100%;
  }

  .product-card img {
    width: 100%;
    height: 14rem;
    border-radius: 2rem;
    object-fit: cover;
  }

  .productDetail-secondary {
    width: 100%;
    padding: 1rem;
    right: -1rem;
  }
}

@media (min-width: 641px) {
  .mobileMenu {
    display: none;
  }
}
